table {
    width: 600px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  th {
    background-color: #427fef;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  td {
    padding: 10px;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #eef7ff;
  }
  
  tfoot tr {
    background-color: #427fef;
    color: white;
  }
  
  table, th, td {
    border: 1px solid #c4dcf3;
  }
  