h1{
    color: dodgerblue;
}


.highlight{
    color: deeppink;
}

#products{
    color: greenyellow;
}

.highlight#products{
    color: coral;
}

h1#products{
    color: paleturquoise;
}
/*
Selector Specificity: Each selector has a specificity or weight. If two rules target the same element, then the rule that is more specific will be applied. 

1. ID selectors
2. Class and Attributes selectors
3. Element selectors

Equal specificity: The rule that was applied the last will have more precedence


*/

